* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(110,11,176);
  background: linear-gradient(90deg, rgba(110,11,176,1) 19%, rgba(193,2,127,1) 85%);
  color: antiquewhite;
}
.App {
  text-align: center;
}

.list-container {
  display: flex;
  margin: 8px;
  justify-content: center;
}

.span {
  text-transform: capitalize;
}

button {
  border-radius: 4px;
  padding: 6px;
  background-color: #0abde3;
  color: black;
  border: none;
  margin-left: 10px;
}

input {
  padding: 8px;
  margin:10px ;
  border-radius: 10px;
  border: none;
}

.border {
  border: black solid 2px;
}

